# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [ ]:
# import libraries here
import pandas as pd
import matplotlib.pyplot as plt

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [ ]:
# YOUR CODE HERE
temp = pd.read_csv("Temp_States.csv")

#### Print `temp`

In [ ]:
# your solution here
print(temp)

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [ ]:
# YOUR CODE HERE
temp.dtypes

# The data types that we have present in this dataframe are of class 'string' for city and state, and of type float for temperature

#### Select the rows where state is New York

In [ ]:
# YOUR CODE HERE
temp.loc[temp["State"] == "New York"]

#### What is the average of the temperature of cities in New York?

In [ ]:
# YOUR CODE HERE
ny_temps = temp["Temperature"]
avg_temp = ny_temps.mean()
print(f"The average temperatures of cities in New York are: {avg_temp}")

#### We want to know cities and states with Temperature above 15 degress Celcius

In [ ]:
# your answer here
city_state_up_15 = temp.loc[temp["Temperature"] > 15, ["City", "State"]]
print(city_state_up_15)

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [ ]:
# YOUR CODE HERE
city_up_15 = temp.loc[temp["Temperature"] > 15, ["City"]]
print(city_up_15)

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [ ]:
# YOUR CODE HERE
city_state_up_15_down_20 = temp.loc[(temp["Temperature"] > 15) & (temp["Temperature"] < 20), ["City"]]
print(city_state_up_15_down_20)

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [ ]:
# YOUR CODE HERE
state_temp = temp.groupby("State")["Temperature"].agg(["mean", "std"])
print(state_temp)

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [ ]:
# YOUR CODE HERE
employee = pd.read_csv("employee.csv")

#### Explore the data types of the Temp dataframe. Comment your results

In [ ]:
# YOUR CODE HERE
employee.dtypes
#The data types in this dataframe are as follows:
#Name is of type string, Department is of type string, Education is of type string, Gender is of type string, Title is of type string, 
#Years is of type int and Salary is of type int

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [ ]:
# Plot histograms for all numeric columns (Age and

In [ ]:
# Get frequency counts for each department
department_frequency = employee['Department'].value_counts()

# Plot the frequency count as a histogram
department_frequency.plot(kind='bar')

# Optional: To make the plot look better
plt.title('Department Frequency')
plt.xlabel('Department')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Get frequency counts for each department
education_frequency = employee['Education'].value_counts()

# Plot the frequency count as a histogram
education_frequency.plot(kind='bar')

# Optional: To make the plot look better
plt.title('Education Frequency')
plt.xlabel('Education')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Get frequency counts for each department
gender_frequency = employee['Gender'].value_counts()

# Plot the frequency count as a histogram
gender_frequency.plot(kind='bar')

# Optional: To make the plot look better
plt.title('Gender Frequency')
plt.xlabel('Gender')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Title frequency
# Get frequency counts for each department
title_frequency = employee['Title'].value_counts()

# Plot the frequency count as a histogram
title_frequency.plot(kind='bar')

# Optional: To make the plot look better
plt.title('Title Frequency')
plt.xlabel('Title')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Get frequency counts for each year
year_frequency = employee['Department'].value_counts()

# Plot the frequency count as a histogram
year_frequency.plot(kind='bar')

# Optional: To make the plot look better
plt.title('Year Frequency')
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Get frequency counts for each department
salary_frequency = employee['Department'].value_counts()

# Plot the frequency count as a histogram
salary_frequency.plot(kind='bar')

# Optional: To make the plot look better
plt.title('Salary Frequency')
plt.xlabel('Salary')
plt.ylabel('Frequency')
plt.show()

#### What's the average salary in this company?

In [ ]:
# YOUR CODE HERE
avg_salary = employee["Salary"].mean()
print(f"The average salary in this company is ${round(avg_salary,2)}.")

#### What's the highest salary?

In [ ]:
# YOUR CODE HERE
max_salary = employee["Salary"].max()
print(f"The highest salary is ${round(max_salary,2)}.")

#### What's the lowest salary?

In [ ]:
# YOUR CODE HERE
min_salary = employee["Salary"].min()
print(f"The lowest salary is ${round(min_salary,2)}.")

#### Who are the employees with the lowest salary?

In [ ]:
# YOUR CODE HERE
lowest_salary_rows = employee[employee["Salary"] == min_salary]
for _, row in lowest_salary_rows.iterrows():
    print(f"Name: {row['Name']}, Salary: ${row['Salary']}")

#### Could you give all the information about an employee called David?

In [ ]:
# YOUR CODE HERE
david_info = employee.loc[employee["Name"] == "David"]
print(david_info)

#### Could you give only David's salary?

In [ ]:
# YOUR CODE HERE
david_salary = employee.loc[employee["Name"] == "David", "Salary"].iloc[0]
print(f"David's salary is ${david_salary}")

#### Print all the rows where job title is associate

In [ ]:
# YOUR CODE HERE
associate_rows = employee.loc[employee["Title"] =="associate"]
print(associate_rows)

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [ ]:
# YOUR CODE HERE
employee.head(3)

In [ ]:
# YOUR CODE HERE
employee[:3]

#### Find the employees who's title is associate and the salary above 55?

In [ ]:
# YOUR CODE HERE
employee.loc[(employee["Title"] == "associate") & (employee["Salary"] > 55)]

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [ ]:
# YOUR CODE HERE
grouped_employees = employee.groupby("Years")["Salary"].agg(["mean"])
print(grouped_employees)

####  What is the average Salary per title?

In [ ]:
# YOUR CODE HERE
avg_salary_titles =  employee.groupby("Title")["Salary"].agg(["mean"])
print(avg_salary_titles)

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.

* Hint : Quantiles vs Quartiles*
In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.

In [ ]:
# YOUR CODE HERE
Q1_all = employee[["Salary", "Years"]].quantile(0.25)
Q3_all = employee[["Salary", "Years"]].quantile(0.75)

In [ ]:
# print first quartile here
print("First Quartile (Q1) for salary and years columns:")
print(Q1_all)

In [ ]:
# print third quartile here
print("Third Quartile (Q3) for salary and years columns:")
print(Q3_all)

#### Is the mean salary per gender different?

In [ ]:
# your answer here
salary_by_gender = employee.groupby("Gender")["Salary"].agg(["mean"])
print(salary_by_gender)

The mean salary per gender is different by a 2.5 difference in favor of males, the mean salary for females being 47.5 and for males being 50.0

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [ ]:
# your answer here
for col in employee.select_dtypes(include='number'):
        max_val = employee[col].max()
        min_val = employee[col].min()
        mean_val = employee[col].mean()
        print(f"\n{col}:\n Max value:{max_val}\n Minimum value:{min_val}\n Mean value:{mean_val}")

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [ ]:
# your answer here
departements =  employee.groupby("Department")["Salary"]
results = departments.agg(["max", "min"])
for department, stats in results.iterrows():
    print(f"\n{department}:\n Max salary:{stats["max"]}\n Minimum salary:{stats["min"]}")

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [ ]:
# your answer here
order_data = pd.read_csv("Orders.csv")

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [ ]:
# your answer here
order_data.head()

In [ ]:
order_data.shape
# The orders dataset is composed of 14 columns and 397,924 rows

In [ ]:
# your answer here
order_data.dtypes
# The orders dataset has 10 numerical variables and 4 object variables

####  What is the average Purchase Price?

In [ ]:
# your answer here
order_data["amount_spent"].mean()

#### What were the highest and lowest purchase prices?

In [ ]:
# your answer here
max_purchase = order_data["amount_spent"].max()
min_purchase = order_data["amount_spent"].min()

print(f"Highest purchase price: ${round(max_purchase)}\nLowest purchase price: ${round(min_purchase)}")

#### Select all the customers we have in Spain

In [ ]:
# your answer here
spain_customers = order_data.loc[order_data["Country"] == "Spain", "CustomerID"].unique()
print(spain_customers)

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
# your answer here
count = order_data.loc[order_data["Country"] == "Spain"]["CustomerID"].value_counts()
cust_count = len(count)
print(f"There are {cust_count} in Spain")

#### Select all the customers who have bought more than 50 items ?

In [ ]:
# your answer here
purchased_over_50 = order_data.loc[order_data['Quantity'] > 50, 'CustomerID'].unique()
print(purchased_over_50)

#### Select orders from Spain that are above 50 items

In [ ]:
# your answer here
order_data.loc[(order_data["Country"] == "Spain") & (order_data["Quantity"] > 50)]

#### Select all free orders

In [ ]:
# your answer here
order_data.loc[order_data['amount_spent'] == 0]

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
# your answer here
order_data.loc[order_data['Description'].str.contains("lunch bag", case=False, na=False)]

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
# your answer here
order_data.loc[(order_data['Description'].str.contains("lunch bag", case=False, na=False)) & (order_data['year'] == 2011)]

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your answer here
spent_frequency = order_data[order_data["Country"] == 'Spain']['amount_spent']
plt.hist(spent_frequency, edgecolor='black')
plt.title("Frequency Distribution: Amount Spent in Spain")
plt.xlabel("Amount Spent")
plt.ylabel("Frequency")
plt.show()

# According to the histogram visualized below, it seems that there is less frequency of high spending amounts in Spain in comparison to lower spending amounts
# where there is a notably high frequency in lower spending amounts

#### Select all orders made in the month of August

In [ ]:
# your answer here
order_data[order_data['month'] == 8]

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [ ]:
# your answer here
order_data[order_data['month'] == 8]['Country'].value_counts()

#### What's the  average amount of money spent by country

In [ ]:
# your answer here
country = order_data.groupby('Country')['amount_spent']
avg_amount_spent = country.agg(['mean'])

for country, stat in avg_amount_spent.iterrows():
    print(f"Country: {country}\nAverage spent: ${stat['mean']}\n")

#### What's the most expensive item?

In [ ]:
# your answer here
order_data[order_data['UnitPrice'] == order_data['UnitPrice'].max()]

#### What was the average amount spent per year ?

In [ ]:
# your answer here
year = order_data.groupby('year')['amount_spent']
avg_amount_spent = year.agg(['mean'])

for year, stat in avg_amount_spent.iterrows():
    print(f"Year: {year}\nAverage spent: ${stat['mean']}\n")